<template>
  <div class="file-upload">
    <drop class="drop" @drop="handleDrop">
      drop files
      <v-file-input truncate-length="15" prepend-icon="" />
    </drop>
  </div>
</template>

<script>
import { Drag, Drop } from "vue-drag-drop";

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: { Drag, Drop },
  methods: {
    handleDrop(data, event) {
      event.preventDefault();
      const files = event.dataTransfer.files;
      const filenames = [];
      for (let i = 0; i < files.length; i++) {
        filenames.push(files.item(i).name);
      }
      console.log(filenames);
    },
  },
};
</script>
