@font-face {
  font-family: "Nasalization";
  src: url("../fonts/NasalizationRg-Regular 400.woff2") format("woff2"),
    url("../fonts/NasalizationRg-Regular 400.ttf") format("ttf");
}
.v-application {
  font-family: "Nasalization", sans-serif !important;
}
.v-application .primary {
  background: linear-gradient(90deg, #e17954 -69.74%, #d9393c 195.07%);
  box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.12), inset 0px 2px 0px #ffffff;
  background-color: #e76d46 !important;
  border-color: #e76d46 !important;
}
.theme--light.v-application .primary--text {
  color: #e76d46 !important;
  caret-color: #e76d46 !important;
}
.theme--light.v-chip:not(.v-chip--active) {
  background: #d5d4d4;
}
body {
  font-family: "Nasalization", sans-serif !important;
  color: #000;
}
.main-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 60px 0px;
  background: #16102f;
}
.v-application .main-wrapper.grey {
  background-color: #f2f2f2 !important;
  border-color: #f2f2f2 !important;
}
.row {
  margin: 0 -12px !important;
}
.v-list {
  margin: 0 !important;
}
.v-list-item {
  padding: 0 0px !important;
}
.v-list-item__content {
  padding: 8px 8px !important;
}
.v-btn {
  text-transform: unset !important;
  height: auto !important;
  padding: 10px 23px !important;
  border-radius: 5px !important;
  font-size: 16px !important;
}
.btn-dark {
  color: #fff !important;
  background-color: #16102f !important;
  border-color: #16102f !important;
}
.v-btn.btn-small {
  padding: 8px 5px !important;
  height: auto !important;
  font-size: 10px !important;
  font-weight: normal !important;
}
.v-btn.icon-btn {
  height: auto !important;
  min-width: auto !important;
  padding: 8px 10px !important;
}
.icon-btn.font-md .v-icon.v-icon {
  font-size: 20px !important;
}
.v-chip.v-size--default {
  border-radius: 8px;
  font-size: 13px;
  height: 28px;
  font-weight: 600;
}
.v-chip.rounded {
  border-radius: 8px;
}
.slider-title h5 {
  display: inline-block;
  margin: 0;
  padding: 10px 40px;
  background: linear-gradient(90deg, #e17954 -69.74%, #d9393c 195.07%);
  box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.12), inset 0px 2px 0px #ffffff;
  border-radius: 8px;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
}

.fixed-btn {
  position: fixed !important;
  top: 15px;
  right: 30px;
  z-index: 11;
}
.event-img {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.event-img .img-fluid {
  width: 100%;
  height: 100%;
}
.search-form.v-text-field input {
  padding: 8px 10px 8px !important;
  background-color: #fff !important;
  box-shadow: inset -3px -3px 7px #ffffff,
    inset 3px 3px 7px rgba(156, 156, 156, 0.48);
  border: 1px solid #fff;
  font-size: 14px;
  max-height: 38px !important;
}
.main-select .v-select__slot {
  background: linear-gradient(90deg, #e17954 -69.74%, #d9393c 195.07%);
  box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.12), inset 0px 2px 0px #ffffff;
  border-radius: 5px !important;
}
.v-select__slot {
  border-radius: 5px !important;
}
.v-application--is-ltr .v-text-field .v-label {
  left: 10px !important;
}
.theme--light.v-select .main-select .v-select__selections,
.main-select .v-select__slot .v-icon.v-icon,
.theme--light.v-input textarea,
.main-select .theme--light.v-label {
  color: #fff !important;
}
.v-text-field {
  padding-top: 0px !important;
  margin-top: 0px !important;
}
.v-select__selection--comma {
  margin-left: 10px !important;
}

.v-application .rounded-pill input {
  border-radius: 9999px !important;
}
.v-text-field > .v-input__control > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after {
  content: unset !important;
}
.v-input input:focus {
  border-color: #df674d;
}

.v-input__append-inner {
  position: absolute;
  right: 10px;
}
.tag {
  padding: 3px 11px;
  border-radius: 8px;
  background: #DF4D4D;
  position: absolute;
  top: 15px;
  left: 15px;
  color: #fff;
  font-size: 13px;
}
.v-input__control {
  position: relative;
}
.v-label {
  font-size: 14px;
}
.v-input__slot {
  margin-bottom: 0 !important;
}
.v-select,
.v-input {
  margin-bottom: 20px !important;
}

.v-chip.v-size--default {
  background: #c4c4c4 !important;
  font-size: 12px !important;
  font-weight: normal;
  line-height: 1;
  height: auto !important;
  padding: 6px 12px;
}

@media only screen and (max-width: 959px) {
  .fixed-btn {
    position: fixed !important;
    top: 15px;
    right: 10px;
    z-index: 11;
  }
}

