<template>
  <div class="main-wrapper">
    <v-container>
      <v-btn tile color="primary" class="fixed-btn" @click="$router.push('/add-event')">
        <v-icon left> mdi-plus-thick </v-icon>
        Submit Event
      </v-btn>

      <v-layout row class="mt-5 event-list">
        <v-flex xs12 md12 lg6>
          <div class="text-center slider-title mb-4">
            <h5>Tranding in Decentraland</h5>
          </div>
          <event-slider />
        </v-flex>
        <v-flex xs12 md12 lg6>
          <div class="text-center slider-title mb-4">
            <h5>Tranding in Sandbox</h5>
          </div>
          <event-slider />
        </v-flex>
      </v-layout>
      <v-layout row class="mt-5">
        <v-flex xs12 md10 lg8 class="m-auto">
          <v-text-field
            placeholder="Search"
            clearable
            class="rounded-pill search-form"
          ></v-text-field>
        </v-flex>
      </v-layout>
      <v-layout row class="mt-1">
        <v-flex xs12 md10 lg8 class="m-auto">
          <v-layout row class="">
            <v-flex xs12 md4 lg4 xl2 sm4>
              <v-select
                v-model="SelectedCategory"
                :items="Category"
                item-text="name"
                menu-props="auto"
                label="Category"
                hide-details
                single-line
                class="main-select"
              >
                <template v-slot:selection="{ item }">
                  {{ item.name }}
                </template>
                <template v-slot:item="{ item }">
                  <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon> {{ item.name }}
                </template>
              </v-select>
            </v-flex>
            <v-flex xs12 md4 lg4 xl2 sm4>
              <v-select
                v-model="SelectedWorld"
                :items="World"
                item-text="name"
                menu-props="auto"
                label="World"
                hide-details
                single-line
                class="main-select"
              >
                <template v-slot:selection="{ item }">
                  {{ item.name }}
                </template>
                <template v-slot:item="{ item }">
                  <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon> {{ item.name }}
                </template>
              </v-select>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <event-list />
    </v-container>
  </div>
</template>
<script>
export default {
  data() {
    return {
      SelectedCategory: "",
      Category: [
        {
          id: 1,
          name: "Music",
          value: "Music",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "Fashion",
          value: "Fashion",
          icon: "mdi-tshirt-crew ",
        },
        {
          id: 3,
          name: "Gambling",
          value: "Gambling",
          icon: "mdi-music",
        },
        {
          id: 4,
          name: "Networking",
          value: "Networking",
          icon: "mdi-music",
        },
        {
          id: 5,
          name: "Airdrops",
          value: "Airdrops",
          icon: "mdi-music",
        },
        {
          id: 6,
          name: "Art Exibitions",
          value: "Art Exibitions",
          icon: "mdi-music",
        },
        {
          id: 7,
          name: "Gaming",
          value: "Gaming",
          icon: "mdi-music",
        },
        {
          id: 8,
          name: "Education",
          value: "Education",
          icon: "mdi-music",
        },
        {
          id: 9,
          name: "Dating",
          value: "Dating",
          icon: "mdi-music",
        },
        {
          id: 10,
          name: "Other",
          value: "Other",
          icon: "mdi-music",
        },
      ],
      SelectedWorld: "",

      World: [
        {
          id: 1,
          name: "Decentraland",
          value: "Decentraland",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "The Sandbox",
          value: "The Sandbox",
          icon: "mdi-music",
        },
        {
          id: 3,
          name: "NFT Worlds",
          value: "NFT Worlds",
          icon: "mdi-music",
        },
        {
          id: 4,
          name: "Pax World",
          value: "Pax World",
          icon: "mdi-music",
        },
      ],
    };
  },
  components: {
    EventSlider: () => import("@/components/Dashboard/event-slider.vue"),
    EventList: () => import("@/components/Dashboard/events-list.vue"),
  },
};
</script>
