<template>
  <div class="main-wrapper grey">
    <v-container>
      <v-layout row>
        <v-flex lg10 class="m-auto">
          <v-layout row class="add-event-card">
            <v-flex sm12>
              <div class="mb-3">
                <v-btn color="dark" text class="px-1" @click="$router.push('/')">
                  <v-icon left class="mr-0"> mdi-chevron-left </v-icon>
                  <u>Back To Home</u>
                </v-btn>
              </div>
            </v-flex>
            <v-flex xs12>
              <v-card class="mx-auto p-3 text-center mb-5" outlined>
                <v-card-title><h5>Event Cover</h5></v-card-title>
                <files></files>
              </v-card>
              <v-text-field placeholder="Event Name" class="text-center"></v-text-field>
              <v-textarea
                name="Description"
                placeholder="Short Description of Event"
              ></v-textarea>

              <v-layout row>
                <v-flex lg5 md6>
                  <v-layout row>
                    <v-flex sm6>
                      <v-select
                        v-model="SelectedCategory"
                        :items="Category"
                        item-text="name"
                        menu-props="auto"
                        label="Category"
                        hide-details
                        dense
                        solo
                        class="select-shadow"
                      >
                        <template v-slot:selection="{ item }">
                          {{ item.name }}
                        </template>
                        <template v-slot:item="{ item }">
                          <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon>
                          {{ item.name }}
                        </template></v-select
                      >
                      <v-text-field
                        placeholder="Latitude"
                        class="input-sm"
                      ></v-text-field>
                    </v-flex>
                    <v-flex sm6>
                      <v-select
                        v-model="SelectedWorld"
                        :items="World"
                        item-text="name"
                        menu-props="auto"
                        label="World"
                        hide-details
                        dense
                        solo
                        class="select-shadow"
                      >
                        <template v-slot:selection="{ item }">
                          {{ item.name }}
                        </template>
                        <template v-slot:item="{ item }">
                          <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon>
                          {{ item.name }}
                        </template>
                      </v-select>
                      <v-text-field
                        placeholder="Longitude"
                        class="input-sm"
                      ></v-text-field
                    ></v-flex>
                    <v-flex sm6>
                      <v-select
                        v-model="SelectedServer"
                        :items="Servers"
                        item-text="name"
                        menu-props="auto"
                        label="Server"
                        hide-details
                        dense
                        solo
                        class="select-shadow"
                      >
                        <template v-slot:selection="{ item }">
                          {{ item.name }}
                        </template>
                        <template v-slot:item="{ item }">
                          <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon>
                          {{ item.name }}
                        </template>
                      </v-select>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex lg5 md6>
                  <v-layout row>
                    <v-flex sm6>
                      <v-menu
                        v-model="StartDate_menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="StartDate"
                            placeholder="Start Date"
                            class="cal-input"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="StartDate"
                          @input="StartDate_menu = false"
                        ></v-date-picker>
                      </v-menu>
                      <v-menu
                        v-model="EndDate_menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="auto"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="EndDate"
                            class="cal-input"
                            placeholder="End Date"
                            prepend-icon="mdi-calendar"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-date-picker
                          v-model="EndDate"
                          @input="EndDate_menu = false"
                        ></v-date-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex sm6>
                      <v-menu
                        ref="start_time_menu"
                        v-model="StartTime_menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="300px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="StartTime"
                            placeholder="Start Time"
                            class="cal-input time-input"
                            prepend-icon="mdi-clock-time-four-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-time-picker
                          v-if="StartTime_menu"
                          v-model="StartTime"
                          full-width
                        >
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="StartTime_menu = false">
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click:minute="$refs.start_time_menu.save(time)"
                            @click="StartTime_menu = false"
                          >
                            OK
                          </v-btn></v-time-picker
                        >
                      </v-menu>

                      <v-menu
                        ref="end_time_menu"
                        v-model="EndTime_menu"
                        :close-on-content-click="false"
                        :nudge-right="40"
                        transition="scale-transition"
                        offset-y
                        min-width="300px"
                      >
                        <template v-slot:activator="{ on, attrs }">
                          <v-text-field
                            v-model="EndTime"
                            placeholder="End Time"
                            class="cal-input time-input"
                            prepend-icon="mdi-clock-time-four-outline"
                            readonly
                            v-bind="attrs"
                            v-on="on"
                          ></v-text-field>
                        </template>
                        <v-time-picker v-if="EndTime_menu" full-width v-model="EndTime">
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="EndTime_menu = false">
                            Cancel
                          </v-btn>
                          <v-btn
                            text
                            color="primary"
                            @click:minute="$refs.end_time_menu.save(time)"
                            @click="EndTime_menu = false"
                          >
                            OK
                          </v-btn>
                        </v-time-picker>
                      </v-menu>
                    </v-flex>
                    <v-flex sm8>
                      <!-- <v-select
                        v-model="SelectedRepeat"
                        :items="Repeat"
                        menu-props="auto"
                        label="Repeat / Does Not repeat"
                        hide-details
                        dense
                        solo
                        class="select-shadow"
                      >
                        <template v-slot:selection="{ item }">
                          <v-icon>{{ item.icon }}</v-icon> {{ item.name }}
                        </template>
                      </v-select> -->
                      <v-select
                        v-model="SelectedRepeat"
                        :items="Repeat"
                        label="Repeat / Does Not repeat"
                        solo
                        dense
                        class="select-shadow"
                      >
                        <template v-slot:selection="{ item }">
                          {{ item.name }}
                        </template>
                        <template v-slot:item="{ item }">
                          <v-icon class="ms-2 me-2">{{ item.icon }}</v-icon>
                          {{ item.name }}
                        </template>
                      </v-select>
                    </v-flex>
                  </v-layout>
                </v-flex>
              </v-layout>
              <v-text-field
                placeholder="Discord Username / Email"
                class="text-center"
              ></v-text-field>
              <v-text-field
                placeholder="Additional Info"
                class="text-center"
              ></v-text-field>
            </v-flex>
            <v-flex xs12>
              <div class="text-center">
                <v-btn class="shadow-btn"> SUBMIT </v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      SelectedCategory: "",
      Category: [
        {
          id: 1,
          name: "Music",
          value: "Music",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "Fashion",
          value: "Fashion",
          icon: "mdi-tshirt-crew ",
        },
        {
          id: 3,
          name: "Gambling",
          value: "Gambling",
          icon: "mdi-music",
        },
        {
          id: 4,
          name: "Networking",
          value: "Networking",
          icon: "mdi-music",
        },
        {
          id: 5,
          name: "Airdrops",
          value: "Airdrops",
          icon: "mdi-music",
        },
        {
          id: 6,
          name: "Art Exibitions",
          value: "Art Exibitions",
          icon: "mdi-music",
        },
        {
          id: 7,
          name: "Gaming",
          value: "Gaming",
          icon: "mdi-music",
        },
        {
          id: 8,
          name: "Education",
          value: "Education",
          icon: "mdi-music",
        },
        {
          id: 9,
          name: "Dating",
          value: "Dating",
          icon: "mdi-music",
        },
        {
          id: 10,
          name: "Other",
          value: "Other",
          icon: "mdi-music",
        },
      ],
      SelectedWorld: "",

      World: [
        {
          id: 1,
          name: "Decentraland",
          value: "Decentraland",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "The Sandbox",
          value: "The Sandbox",
          icon: "mdi-music",
        },
        {
          id: 3,
          name: "NFT Worlds",
          value: "NFT Worlds",
          icon: "mdi-music",
        },
        {
          id: 4,
          name: "Pax World",
          value: "Pax World",
          icon: "mdi-music",
        },
      ],
      SelectedServer: "",
      Servers: [
        {
          id: 1,
          name: "Server-1",
          value: "Server-1",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "Server-2",
          value: "Server-2",
          icon: "mdi-music",
        },
        {
          id: 3,
          name: "Server-3",
          value: "Server-3",
          icon: "mdi-music",
        },
        {
          id: 4,
          name: "Server-4",
          value: "Server-4",
          icon: "mdi-music",
        },
      ],
      SelectedRepeat: "",
      Repeat: [
        {
          id: 1,
          name: "Reapeat",
          value: "Reaaat",
          icon: "mdi-music",
        },
        {
          id: 2,
          name: "No Repeat",
          value: "No Repeat",
          icon: "mdi-music",
        },
      ],
      files: [],
      StartDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      EndDate: new Date(Date.now() - new Date().getTimezoneOffset() * 60000)
        .toISOString()
        .substr(0, 10),
      StartDate_menu: false,
      EndDate_menu: false,
      EndTime: null,
      EndTime_menu: false,

      StartTime: null,
      StartTime_menu: false,
    };
  },
  components: {
    Files: () => import("../components/Events/Files-upload.vue"),
  },
};
</script>
<style>
.add-event-card .v-card,
.add-event-card .v-text-field:not(.time-input) .v-text-field__slot input,
.add-event-card .v-textarea textarea,
.add-event-card .cal-input {
  -moz-box-shadow: inset 1px 2px 5px rgb(0 0 0 / 20%);
  -webkit-box-shadow: inset 1px 2px 5px rgb(0 0 0 / 20%);
  box-shadow: inset 1px 2px 5px rgb(0 0 0 / 20%);
  background-color: #fff;
  border-radius: 4px;
}
.add-event-card .v-text-field:not(.time-input) input,
.add-event-card .v-textarea textarea {
  padding: 18px 15px 18px;
  max-height: unset !important;
  text-align: center;
  color: #000 !important;
}
.add-event-card .v-input,
.add-event-card .v-label {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.add-event-card .v-card__title {
  display: inline-block;
}
.add-event-card .v-card__title h5 {
  font-weight: 600;
}
input::placeholder,
textarea::placeholder {
  font-style: italic;
}
.shadow-btn {
  box-shadow: 0px 1px 10px rgb(0 0 0 / 20%) !important;
  padding: 13px 33px !important;
  font-weight: 600 !important;
  font-size: 16px !important;
}
.theme--light.select-shadow > .v-input__control > .v-input__slot {
  background: #f2f2f2 !important;
  box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 10%) !important;
}
.add-event-card .v-text-field.input-sm input,
.cal-input {
  padding: 0px 10px !important;
  text-align: left;
}
.add-event-card .v-text-field input.cal-input {
  text-align: left;
}
.v-text-field__details {
  position: absolute;
  top: -20px;
  left: 0;
}
.v-text-field__details .v-messages__wrapper {
  color: #da6744;
}
.cal-input .v-input__slot {
  margin-bottom: 0 !important;
}
.cal-input.v-select.v-select--chips.v-select--chips--small .v-select__selections {
  min-height: auto;
}
.v-text-field.v-text-field--solo.v-input--dense > .v-input__control,
.cal-input.v-select.v-select--chips.v-select--chips--small .v-select__selections,
.add-event-card .v-text-field.input-sm input,
.time-input,
.cal-input {
  min-height: 48px !important;
}
.cal-input .v-input__append-outer,
.cal-input .v-input__prepend-outer,
.time-input .v-input__control {
  align-self: center;
}
.cal-input .v-input__append-inner {
  display: none !important;
}
.time-input.v-text-field input {
  line-height: 48px;
  padding: 0 10px !important;
}
.cal-input.v-text-field input {
  text-align: left !important;
  box-shadow: unset !important;
  background-color: unset !important;
  padding: 0 !important;
  min-height: 48px;
  color: #000 !important;
}
.theme--light.cal-input.v-text-field input {
  color: #000 !important;
}
.drop {
  padding: 20px;
  border-radius: 2em;
  color: #a1a1a1;
  border: 2px dashed #e2e6ea;
  font-size: 14px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}
.theme--light.v-input input {
  color: #fff !important;
}
</style>
