<template>
  <div>
    <v-card class="mx-auto" width="100%">
      <div class="event-img">
        <v-img
          src="https://img.freepik.com/free-vector/modern-music-event-poster-template_1361-1292.jpg?size=626&ext=jpg&ga=GA1.2.1947233143.1644904278"
          height="200px"
        ></v-img>
        <span class="tag">Live</span>
      </div>
      <div class="d-flex justify-content-between align-items-center pa-1">
        <div class="title-box"><span>Now</span></div>
        <div>
          <v-chip class="ma-2 rounded"
            ><v-icon color="primary">mdi-map-marker</v-icon> 1234
          </v-chip>
        </div>
      </div>
      <div class="pa-2">
        <v-card-title
          ><h6>A Trip To Saturn - The Metaverse debut of artist Jacob Rolfe</h6>
        </v-card-title>
        <v-card-text class="d-flex justify-content-between">
          <v-btn tile color="primary">
            JUMP IN
            <v-icon right class="ml-10"> mdi-logout-variant </v-icon>
          </v-btn>
          <v-btn color="primary ml-3 mr-0" class="icon-btn font-md"
            ><v-icon small dark>mdi-share-variant-outline</v-icon></v-btn
          >
        </v-card-text>
      </div>
    </v-card>
  </div>
</template>
<style></style>
