<template>
  <!-- hide-delimiter-background delimiter-icon="mdi-checkbox-blank-circle-outline -->
  <v-carousel :show-arrows="false">
    <v-carousel-item>
      <!-- height="100%" -->
      <v-card class="mx-auto card-border" width="100%">
        <v-layout row class="">
          <v-flex xs12 sm12 md6>
            <div class="event-img">
              <v-img
                src="https://img.freepik.com/free-vector/modern-music-event-poster-template_1361-1292.jpg?size=626&ext=jpg&ga=GA1.2.1947233143.1644904278"
                class="img-fluid"
              ></v-img>
              <span class="tag">Live</span>
            </div>
          </v-flex>
          <v-flex xs12 sm12 md6>
            <v-list two-line>
              <v-list-item>
                <v-list-item-content class="align-normal">
                  <div class="mr-2">
                    <v-btn color="primary" large dark>
                      <v-icon>mdi-calendar-blank-outline </v-icon>
                    </v-btn>
                  </div>
                  <div class="title-box">
                    <v-list-item-title>Event Name </v-list-item-title>
                    <div><span>Organize By Public</span></div>
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div class="d-flex align-items-center">
                    <v-icon color="primary" class="mr-1">mdi-alarm </v-icon>
                    <v-list-item-subtitle>start time/end time</v-list-item-subtitle>
                  </div>
                  <div>
                    <v-btn class="btn-dark btn-small text-left" text--white
                      >add to <br />
                      calendar</v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div>
                    <div class="d-flex align-items-center">
                      <v-icon color="primary" class="mr-1">mdi-map-marker</v-icon>
                      <v-list-item-subtitle>Server Name</v-list-item-subtitle>
                    </div>
                    <div>
                      <v-icon color="primary">mdi-map-marker</v-icon>
                      <v-chip class="ma-2 rounded"> 1234 </v-chip>
                    </div>
                  </div>
                  <div>
                    <v-btn color="primary ml-3" class="icon-btn font-md"
                      ><v-icon dark small>mdi-application-export</v-icon></v-btn
                    >
                    <v-btn color="primary ml-3 mr-0" class="icon-btn font-md"
                      ><v-icon small dark>mdi-share-variant-outline</v-icon></v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="text-center">
                <v-list-item-content class="justify-center">
                  <v-btn tile color="primary">
                    JUMP IN
                    <v-icon right> mdi-logout-variant </v-icon>
                  </v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </v-card>
    </v-carousel-item>
    <v-carousel-item>
      <!-- height="100%" -->
      <v-card class="mx-auto card-border" width="100%">
        <v-layout row class="">
          <v-flex xs12 sm6>
            <div class="event-img">
              <v-img
                src="https://img.freepik.com/free-vector/modern-music-event-poster-template_1361-1292.jpg?size=626&ext=jpg&ga=GA1.2.1947233143.1644904278"
                class="img-fluid"
              ></v-img>
            </div>
          </v-flex>
          <v-flex xs12 sm6>
            <v-list two-line>
              <v-list-item>
                <v-list-item-content class="align-normal">
                  <div class="mr-2">
                    <v-btn color="primary" large dark>
                      <v-icon>mdi-calendar-blank-outline</v-icon>
                    </v-btn>
                  </div>
                  <div class="title-box">
                    <v-list-item-title>Event Name </v-list-item-title>
                    <div><span>Organize By Public</span></div>
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div class="d-flex align-items-center">
                    <v-icon color="primary" class="mr-1">mdi-alarm </v-icon>
                    <v-list-item-subtitle>start time/end time</v-list-item-subtitle>
                  </div>
                  <div>
                    <v-btn class="btn-dark btn-small text-left" text--white
                      >add to <br />
                      calendar</v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div>
                    <div class="d-flex align-items-center">
                      <v-icon color="primary" class="mr-1">mdi-map-marker</v-icon>
                      <v-list-item-subtitle>Server Name</v-list-item-subtitle>
                    </div>
                    <div>
                      <v-icon color="primary">mdi-map-marker</v-icon>
                      <v-chip class="ma-2 rounded"> 1234 </v-chip>
                    </div>
                  </div>
                  <div>
                    <v-btn color="primary ml-3" class="icon-btn font-md"
                      ><v-icon dark small>mdi-application-export</v-icon></v-btn
                    >
                    <v-btn color="primary ml-3 mr-0" class="icon-btn font-md"
                      ><v-icon small dark>mdi-share-variant-outline</v-icon></v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="text-center">
                <v-list-item-content class="justify-center">
                  <v-btn tile color="primary">
                    JUMP IN
                    <v-icon right> mdi-logout-variant </v-icon>
                  </v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </v-card>
    </v-carousel-item>
    <v-carousel-item>
      <!-- height="100%" -->
      <v-card class="mx-auto card-border" width="100%">
        <v-layout row class="">
          <v-flex xs12 sm6>
            <div class="event-img">
              <v-img
                src="https://img.freepik.com/free-vector/modern-music-event-poster-template_1361-1292.jpg?size=626&ext=jpg&ga=GA1.2.1947233143.1644904278"
                class="img-fluid"
              ></v-img>
            </div>
          </v-flex>
          <v-flex xs12 sm6>
            <v-list two-line>
              <v-list-item>
                <v-list-item-content class="align-normal">
                  <div class="mr-2">
                    <v-btn color="primary" large dark>
                      <v-icon>mdi-calendar-blank-outline</v-icon>
                    </v-btn>
                  </div>
                  <div class="title-box">
                    <v-list-item-title>Event Name </v-list-item-title>
                    <div><span>Organize By Public</span></div>
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div class="d-flex align-items-center">
                    <v-icon color="primary" class="mr-1">mdi-alarm </v-icon>
                    <v-list-item-subtitle>start time/end time</v-list-item-subtitle>
                  </div>
                  <div>
                    <v-btn class="btn-dark btn-small text-left" text--white
                      >add to <br />
                      calendar</v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div>
                    <div class="d-flex align-items-center">
                      <v-icon color="primary" class="mr-1">mdi-map-marker</v-icon>
                      <v-list-item-subtitle>Server Name</v-list-item-subtitle>
                    </div>
                    <div>
                      <v-icon color="primary">mdi-map-marker</v-icon>
                      <v-chip class="ma-2 rounded"> 1234 </v-chip>
                    </div>
                  </div>
                  <div>
                    <v-btn color="primary ml-3" class="icon-btn font-md"
                      ><v-icon dark small>mdi-application-export</v-icon></v-btn
                    >
                    <v-btn color="primary ml-3 mr-0" class="icon-btn font-md"
                      ><v-icon small dark>mdi-share-variant-outline</v-icon></v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="text-center">
                <v-list-item-content class="justify-center">
                  <v-btn tile color="primary">
                    JUMP IN
                    <v-icon right> mdi-logout-variant </v-icon>
                  </v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </v-card>
    </v-carousel-item>
    <v-carousel-item>
      <!-- height="100%" -->
      <v-card class="mx-auto card-border" width="100%">
        <v-layout row class="">
          <v-flex xs12 sm6>
            <div class="event-img">
              <v-img
                src="https://img.freepik.com/free-vector/modern-music-event-poster-template_1361-1292.jpg?size=626&ext=jpg&ga=GA1.2.1947233143.1644904278"
                class="img-fluid"
              ></v-img>
            </div>
          </v-flex>
          <v-flex xs12 sm6>
            <v-list two-line>
              <v-list-item>
                <v-list-item-content class="align-normal">
                  <div class="mr-2">
                    <v-btn color="primary" large dark>
                      <v-icon>mdi-calendar-blank-outline</v-icon>
                    </v-btn>
                  </div>
                  <div class="title-box">
                    <v-list-item-title>Event Name </v-list-item-title>
                    <div><span>Organize By Public</span></div>
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div class="d-flex align-items-center">
                    <v-icon class="mr-1" color="primary">mdi-alarm </v-icon>
                    <v-list-item-subtitle>start time/end time</v-list-item-subtitle>
                  </div>
                  <div>
                    <v-btn class="btn-dark btn-small text-left" text--white
                      >add to <br />
                      calendar</v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item>
                <v-list-item-content class="justify-content-between">
                  <div>
                    <div class="d-flex align-items-center">
                      <v-icon color="primary" class="mr-1">mdi-map-marker</v-icon>
                      <v-list-item-subtitle>Server Name</v-list-item-subtitle>
                    </div>
                    <div>
                      <v-icon color="primary">mdi-map-marker</v-icon>
                      <v-chip class="ma-2 rounded"> 1234 </v-chip>
                    </div>
                  </div>
                  <div>
                    <v-btn color="primary ml-3" class="icon-btn font-md"
                      ><v-icon dark small>mdi-application-export</v-icon></v-btn
                    >
                    <v-btn color="primary ml-3 mr-0" class="icon-btn font-md"
                      ><v-icon small dark>mdi-share-variant-outline</v-icon></v-btn
                    >
                  </div>
                </v-list-item-content>
              </v-list-item>

              <v-list-item class="text-center">
                <v-list-item-content class="justify-center">
                  <v-btn tile color="primary">
                    JUMP IN
                    <v-icon right> mdi-logout-variant </v-icon>
                  </v-btn>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </v-card>
    </v-carousel-item>
  </v-carousel>
</template>
<script>
export default {
  data() {
    return {
      items: [],
    };
  },
};
</script>

<style>
.v-card.card-border {
  position: relative;
}
.v-card.card-border:before {
  position: absolute;
  content: "";
  width: 3px;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #df674d;
}
.v-sheet.v-card {
  padding: 10px;
}
.v-card.card-border {
  border: 2px solid #df674d !important;
  box-shadow: unset !important;
  background-color: #fff !important;
}
.event-list .v-list-item {
  background-color: transparent !important;
  display: block;
  border-bottom: 3px solid #df674d;
  padding: 0 10px !important;
  overflow: hidden;
}
.v-list-item:last-child {
  border-bottom: unset;
}
.title-box span,
.v-list-item__subtitle {
  font-size: 12px !important;
}
.event-list .v-list-item__content {
  padding: 8px 0 !important;
}
.align-normal {
  align-items: normal !important;
}
.v-list-item__content > * {
  flex: unset !important;
}
.v-list-item__content .v-btn:not(.v-btn--round).v-size--large {
  height: auto;
  width: auto;
  min-width: auto;
  padding: 5px !important;
  border-radius: 8px;
}
.v-size--large .v-icon.v-icon {
  font-size: 45px !important;
}
.v-list-item__title,
.v-list-item__subtitle {
  font-weight: 500;
  align-self: auto;
}
.event-list .v-list {
  padding: 0 !important;
}
.title-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: left;
}
.v-item-group,
.v-item-group .v-carousel__item {
  height: auto !important;
}
.v-carousel__controls {
  position: relative !important;
  background: transparent !important;
}
.v-btn:before {
  content: unset;
}
.v-btn--active,
.v-btn--active .v-icon {
  color: #df674d !important;
}
.theme--light.v-list-item:not(.v-list-item--disabled) .v-list-item__subtitle,
.theme--light.v-list-item:not(.v-list-item--disabled) .v-list-item__action-text {
  color: #000;
}

@media only screen and (max-width: 959px) {
  .v-card.card-border:before {
    content: unset;
  }
}
</style>
