<template>
  <v-layout row class="mt-4">
    <v-flex xs12 md10 lg10 class="m-auto">
      <div class="event-list-card">
        <v-card-title> March </v-card-title>
        <v-card class="main-card">
          <v-layout row class="mt-1">
            <v-flex xs12 md6 lg4>
              <v-card class="" outlined tile>
                <event />
              </v-card>
            </v-flex>
            <v-flex xs12 md6 lg4>
              <v-card class="" outlined tile>
                <event />
              </v-card>
            </v-flex>
            <v-flex xs12 md6 lg4>
              <v-card class="" outlined tile>
                <event />
              </v-card>
            </v-flex>
          </v-layout>
        </v-card>
      </div>
    </v-flex>
  </v-layout>
  <!-- <v-row>
    <v-col class="col-md-4">
      <v-card class="pa-2" outlined tile>
        <event />
      </v-card>
    </v-col>
    <v-col class="col-md-4">
      <v-card class="pa-2" outlined tile>
        <event />
      </v-card>
    </v-col>
    <v-col class="col-md-4">
      <v-card class="pa-2" outlined tile>
        <event />
      </v-card>
    </v-col>
  </v-row> -->
</template>
<script>
export default {
  components: {
    event: () => import("./event.vue"),
  },
};
</script>

<style>
.event-list-card > .v-card__title {
  text-align: center;
  display: block;
  background: linear-gradient(90deg, #E17954 -69.74%, #D9393C 195.07%);
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: -5px;
  font-style: italic;
}
.event-list-card .v-card.main-card {
  padding: 10px !important;
}
.event-list-card > .v-sheet.v-card {
  background-color: #1e1b4c !important;
}
.event-list-card .v-card {
  background-color: #ebd5d5 !important;
  border-radius: 5px !important;
  padding: 0 !important;
  border: none;
}
.event-list-card .v-chip.v-size--default{
  padding: 2px 5px;
}
@media only screen and (max-width:1263px){
.event-list-card .v-card {
    margin-bottom:10px;
}
}
</style>
